<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ashutoshsingh03/Documents/AshutoshKumarSingh/BookingApp">
        <classes>
            <class name="org.bookingTest.BaseTest"/>
            <class name="org.bookingTest.Test_createBooking"/>
            <class name="org.bookingTest.Test_getBooking"/>
            <class name="org.bookingTest.Test_editBooking"/>
            <class name="org.bookingTest.Test_partialUpdate"/>
            <class name="org.bookingTest.Test_deleteBooking"/>
            <class name="org.bookingTest.Test_negativeTC"/>
        </classes>
    </test>

</suite>